{% extends 'appentrega3/nuevoindex.html'%}
{% load static %}

{% block titulo%}sobrenosotros{% endblock titulo%}

{% block cuerpo%}
<h1 class="text-bg-secondary p-3">INSTITUCIONAL</h1>
<section class="showcase">

    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Nuestra Mision</h2>
                <p class="lead mb-0">Ayudar a nuestros pacientes dando consejo farmacéutico individualizado y profesional con todas las herramientas terapéuticas posibles contando con gran stock para poder realizarlo.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Nuestra Vision</h2>
                <p class="lead mb-0">Ofrecer todo aquello que el paciente necesita actulizándonos continuamente en todos nuestros campos.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Lo que nos diferencia</h2>
                <p class="lead mb-0">Ser paciente de Farmcias del Sur significa tener la seguridad de estar en manos de los mejores farmacéuticos. Profesionales que se vuelcan para que la salud y bienestar de los pacientes sea siempre la mejor y más adecuada. Por eso en Farmacias del Sur marcamos la diferencia al dar el mejor consejo farmacéutico acompañado de un amplio stock de medicamentos y productos. Resolviendo así lo que requiera el paciente en la mayor brevedad posible.</p>
            </div>
        </div>
    </div>
</section>





{% endblock cuerpo%}





